/** Problem : we want alert block to look the same despite its placing */
/** style for alert box and link inside it */
.alert {
  color: red;
}
.alert .link {
  color: #994444;
}
/** this rule will also affect link of alert once it is inserted into box */
.box .link {
  color: blue;
}
/*  global classes */
.g-float-left {
  float: left;
}
/* just to not use "style" attribute */
.g-float-right {
  float: right;
}
/* layout classes */
.l-vertically-padded-medium {
  margin-top: 6px;
  margin-bottom: 6px;
}
.l-vertically-padded-alot {
  margin-top: 12px;
  margin-bottom: 12px;
}
.l-left-indented {
  padding-left: 15px;
}
/* box block */
.b-box__link {
  color: blue;
}
/** alert block */
.b-alert {
  color: red;
}
.b-alert__link {
  color: #994444;
  text-decoration: underline;
}
.b-alert__link_decoration_none {
  text-decoration: none;
}
